*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #0c0c0c; */
    width: 100%;
    height: 99vh;
}
#navbar{
    background-color: #131a20 !important;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}
#logo{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
}
#searchForm{
    display: flex;  
    position: relative; 
}
.lh-cus {
    line-height: .5 !important;
}
#txtSearch{
    height: 40px;
    width: 250px;
    border-radius: 7px;
    padding: 5px 10px;
    right: 2em;
}
#btnSearch{
    position: absolute;
    right: 6px;
    border: none;
    background-color: #fff;
    top: 6px;
}
#btnSearch img{
  background: #fff;;
}
#sub-navbar{
    height: 4vh;
    background-color: #386388;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#sub-navbar a{
    text-decoration: none;
    color: #fff;
}
.nav{
    transition: all .2s ease-in;
    font-weight: 600;
}
.nav:hover{
    color: chocolate;
    
}

#faculty-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    min-width: 150px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    /* margin-top: 3vh; */
}

#faculty:hover #faculty-dropdown {
    display: block;
}
#faculty-dropdown a {
    text-decoration: none;
    
}
.dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
    color: #0c0c0c;
    font-weight: 600;
}

.dropdown-item:hover {
    background-color: #c2cbd4;
}

main {
   min-height: 82vh;
}
.swiper-container {
    width: 100%;
    height: 82vh;
    overflow: hidden;
    /* Hide any overflow */
    position: relative;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

footer{
    height: 6vh;
    background-color: #242a30;
    color: #fff;
    display: grid;
    place-content: center;
}

h1{
    background-image: linear-gradient(45deg, #0b692a,#0e2b80,#0b692a,#0e2b80,#0b692a, #0e2b80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
}
.hod{
    width: 35%;
    height: 30vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    border: 2px solid salmon;
    border-radius: 20px;
    padding: 1rem;
    background-color: #fdefed;
}
.hod-details p{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.hod-details p span:first-child {
    width: 50px;
    font-weight: 600;
}
.hod-img{
    border: 1px solid grey;
    height: 26vh;

}
.hod-img img {
    height: 100%;
}
#down{
    width:35%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    margin-top: 1px;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
}
#fellow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 1rem;
}
.fellow-details{
    display: flex;
    justify-content: start;
    gap: 2rem;
    align-items: center;
    width: 20%;
    height: 10vh;
    border: 2px solid;
    border-radius: 10%;
    cursor:pointer;
    transition: all .3s ease-in;
}
.fellow-details:hover {
    transform: scale(1.05);
}
.fellow-details img{
    width: 18%;
    margin-left: 1rem;
    border-radius: 10px;
}
.fellow-details p {
    font-weight: 600;
    letter-spacing: 2px;

}
h2{
    text-align: center;
    margin: 1rem;
}
.bar {
    border-width: 2px;
    border-color:salmon ;
    background-color: salmon;
    height: 90%;
    width: 2px;
}
/* .cus,
.bar,
#down {
    transition: background-color 1s, border-color 1s;
} */
