.team14-wrapper {
  display: contents;
}
.team14-max-width {
  gap: var(--dl-space-space-twounits);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team14-button {
  width: 100%;
  max-width: 300px;
}
.team14-content10 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-slider1 {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  align-self: center;
}
.team14-slider-slide10 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team14-card10 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title10 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-social-icons10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-card11 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title11 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-social-icons11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-card12 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-social-icons12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-card13 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-social-icons13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-slider-slide11 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team14-card14 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title14 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-social-icons14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-card15 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-social-icons15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-card16 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title16 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-social-icons16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-card17 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content18 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title17 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-social-icons17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-slider-pagination1 {
  display: block;
}
.team14-slider2 {
  width: 100%;
  height: auto;
  display: none;
  position: relative;
}
.team14-slider-slide12 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team14-card18 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-content19 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-title18 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-social-icons18 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-slider-slide13 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team14-card19 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-content20 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-title19 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-social-icons19 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-slider-slide14 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team14-card20 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-content21 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-title20 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-social-icons20 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-slider-slide15 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team14-card21 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-content22 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-title21 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-social-icons21 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-slider-slide16 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team14-card22 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-content23 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-title22 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-social-icons22 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-slider-slide17 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team14-card23 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-content24 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-title23 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-social-icons23 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-slider-slide18 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team14-card24 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-content25 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-title24 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-social-icons24 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-slider-slide19 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team14-card25 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-content26 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-title25 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-social-icons25 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-slider-pagination2 {
  display: block;
}
.team1-fragment10 {
  display: contents;
}
.team1-text28 {
  display: inline-block;
  text-align: center;
}
.team1-fragment11 {
  display: contents;
}
.team1-text29 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment12 {
  display: contents;
}
.team1-text30 {
  display: inline-block;
  text-align: center;
}
.team1-fragment13 {
  display: contents;
}
.team1-text31 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment14 {
  display: contents;
}
.team1-text32 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment15 {
  display: contents;
}
.team1-text33 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment16 {
  display: contents;
}
.team1-text34 {
  display: inline-block;
}
.team1-fragment17 {
  display: contents;
}
.team1-text35 {
  display: inline-block;
  text-align: center;
}
.team1-fragment18 {
  display: contents;
}
.team1-text36 {
  display: inline-block;
  text-align: center;
}
.team1-fragment19 {
  display: contents;
}
.team1-text37 {
  display: inline-block;
  text-align: center;
}
.team1-fragment20 {
  display: contents;
}
.team1-text38 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
}
.team1-fragment21 {
  display: contents;
}
.team1-text39 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment22 {
  display: contents;
}
.team1-text40 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team1-fragment23 {
  display: contents;
}
.team1-text41 {
  display: inline-block;
}
.team1-fragment24 {
  display: contents;
}
.team1-text44 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
}
.team1-fragment25 {
  display: contents;
}
.team1-text45 {
  display: inline-block;
}
.team1-fragment26 {
  display: contents;
}
.team1-text46 {
  display: inline-block;
  text-align: center;
}
.team1-fragment27 {
  display: contents;
}
.team1-text47 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment28 {
  display: contents;
}
.team1-text48 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team1-fragment29 {
  display: contents;
}
.team1-text49 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment30 {
  display: contents;
}
.team1-text50 {
  display: inline-block;
}
.team1-fragment31 {
  display: contents;
}
.team1-text51 {
  display: inline-block;
  text-align: center;
}
.team1-fragment32 {
  display: contents;
}
.team1-text52 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment33 {
  display: contents;
}
.team1-text53 {
  display: inline-block;
  text-align: center;
}
.team1-fragment34 {
  display: contents;
}
.team1-text54 {
  display: inline-block;
  overflow: hidden;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team1-fragment35 {
  display: contents;
}
.team1-text55 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
}
.team1-fragment36 {
  display: contents;
}
.team1-text56 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team1-fragment37 {
  display: contents;
}
.team1-text57 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
@media(max-width: 767px) {
  .team14-max-width {
    padding: var(--dl-space-space-threeunits);
  }
  .team14-slider1 {
    display: none;
  }
  .team14-slider2 {
    display: block;
  }
}
@media(max-width: 479px) {
  .team14-max-width {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .team14-button {
    width: 100%;
  }
  .team1-text34 {
    text-align: center;
  }
  .team1-text41 {
    text-align: center;
  }
}

.team1-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.team1-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team1-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-content2 {
  gap: var(--dl-space-space-sixunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-content3 {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.team1-row1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.team1-container1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.team1-card1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team1-placeholder-image1 {
  width: 168px;
  height: 168px;
}
.team1-content4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-title1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-social-icons1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team1-card2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team1-placeholder-image2 {
  width: 115px;
  height: 115px;
}
.team1-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-title2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-social-icons2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team1-container2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.team1-card3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team1-placeholder-image3 {
  width: 115px;
  height: 115px;
}
.team1-content6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-title3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-social-icons3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team1-card4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team1-placeholder-image4 {
  width: 115px;
  height: 115px;
}
.team1-content7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-title4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-social-icons4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team1-row2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.team1-container3 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.team1-container4 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.team1-content8 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
}
.team1-content9 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team1-button {
  width: 100%;
  max-width: 300px;
}
.team1-fragment10 {
  display: contents;
}
.team1-text28 {
  display: inline-block;
  text-align: center;
}
.team1-fragment11 {
  display: contents;
}
.team1-text29 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment12 {
  display: contents;
}
.team1-text30 {
  display: inline-block;
  text-align: center;
}
.team1-fragment13 {
  display: contents;
}
.team1-text31 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment14 {
  display: contents;
}
.team1-text32 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment15 {
  display: contents;
}
.team1-text33 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment16 {
  display: contents;
}
.team1-text34 {
  display: inline-block;
}
.team1-fragment17 {
  display: contents;
}
.team1-text35 {
  display: inline-block;
  text-align: center;
}
.team1-fragment18 {
  display: contents;
}
.team1-text36 {
  display: inline-block;
  text-align: center;
}
.team1-fragment19 {
  display: contents;
}
.team1-text37 {
  display: inline-block;
  text-align: center;
}
.team1-fragment20 {
  display: contents;
}
.team1-text38 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
}
.team1-fragment21 {
  display: contents;
}
.team1-text39 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment22 {
  display: contents;
}
.team1-text40 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team1-fragment23 {
  display: contents;
}
.team1-text41 {
  display: inline-block;
}
.team1-fragment24 {
  display: contents;
}
.team1-text44 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
}
.team1-fragment25 {
  display: contents;
}
.team1-text45 {
  display: inline-block;
}
.team1-fragment26 {
  display: contents;
}
.team1-text46 {
  display: inline-block;
  text-align: center;
}
.team1-fragment27 {
  display: contents;
}
.team1-text47 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment28 {
  display: contents;
}
.team1-text48 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team1-fragment29 {
  display: contents;
}
.team1-text49 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment30 {
  display: contents;
}
.team1-text50 {
  display: inline-block;
}
.team1-fragment31 {
  display: contents;
}
.team1-text51 {
  display: inline-block;
  text-align: center;
}
.team1-fragment32 {
  display: contents;
}
.team1-text52 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment33 {
  display: contents;
}
.team1-text53 {
  display: inline-block;
  text-align: center;
}
.team1-fragment34 {
  display: contents;
}
.team1-text54 {
  display: inline-block;
  overflow: hidden;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team1-fragment35 {
  display: contents;
}
.team1-text55 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
}
.team1-fragment36 {
  display: contents;
}
.team1-text56 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team1-fragment37 {
  display: contents;
}
.team1-text57 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team1-fragment38 {
  display: contents;
}
.team1-text58 {
  display: inline-block;
  text-align: center;
}
.team1-fragment39 {
  display: contents;
}
.team1-text59 {
  display: inline-block;
}
.team1-fragment40 {
  display: contents;
}
.team1-text60 {
  display: inline-block;
  text-align: center;
}
.team1-fragment41 {
  display: contents;
}
.team1-text61 {
  display: inline-block;
  text-align: center;
}
.team1-fragment42 {
  display: contents;
}
.team1-text62 {
  display: inline-block;
  text-align: center;
}
.team1-fragment43 {
  display: contents;
}
.team1-text63 {
  display: inline-block;
}
.team1-fragment44 {
  display: contents;
}
.team1-text66 {
  display: inline-block;
}
.team1-fragment45 {
  display: contents;
}
.team1-text67 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment46 {
  display: contents;
}
.team1-text68 {
  display: inline-block;
  text-align: center;
}
.team1-fragment47 {
  display: contents;
}
.team1-text69 {
  display: inline-block;
}
.team1-fragment48 {
  display: contents;
}
.team1-text70 {
  display: inline-block;
}
.team1-fragment49 {
  display: contents;
}
.team1-text73 {
  display: inline-block;
  text-align: center;
}
.team1-fragment50 {
  display: contents;
}
.team1-text74 {
  display: inline-block;
  text-align: center;
}
.team1-fragment51 {
  display: contents;
}
.team1-text75 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment52 {
  display: contents;
}
.team1-text76 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment53 {
  display: contents;
}
.team1-text77 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team1-fragment54 {
  display: contents;
}
.team1-text78 {
  display: inline-block;
  text-align: center;
}
.team1-fragment55 {
  display: contents;
}
.team1-text79 {
  display: inline-block;
}
@media(max-width: 991px) {
  .team1-content2 {
    gap: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .team1-row1 {
    align-items: center;
    flex-direction: column;
  }
  .team1-row2 {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .team1-container1 {
    flex-direction: column;
  }
  .team1-container2 {
    flex-direction: column;
  }
  .team1-container3 {
    flex-direction: column;
  }
  .team1-container4 {
    flex-direction: column;
  }
  .team1-button {
    width: 100%;
  }
  .team1-text34 {
    text-align: center;
  }
  .team1-text41 {
    text-align: center;
  }
  .team1-text59 {
    text-align: center;
  }
  .team1-text63 {
    text-align: center;
  }
  .team1-text66 {
    text-align: center;
  }
  .team1-text70 {
    text-align: center;
  }
  .team1-text79 {
    text-align: center;
  }
}
