.container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    gap: 20px;
}
.box{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 10rem;
    font-weight: 700;

}